<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core"/>
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core"/>
  </configSections>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="SignalRDemos.Messages.Server.Error" />
  <MsmqTransportConfig NumberOfWorkerThreads="5" MaxRetries="2"/>
  <UnicastBusConfig ForwardReceivedMessagesTo="SignalRDemos.Messages.Server.Audit">
    <MessageEndpointMappings>
      <add Messages="SignalRDemos.Messages" Endpoint="SignalRDemos.Messages.Server"/>
    </MessageEndpointMappings>
  </UnicastBusConfig>
</configuration>